@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
  --foreground-rgb: 28, 37, 68;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Roboto', system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-manrope {
    font-family: 'Manrope', sans-serif;
  }
}

